<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SDH Questionaire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to start questionnaire?</strong>
    
    <p><ion-button routerDirection="forward" routerLink="/questions">Start</ion-button></p>
  </div>
</ion-content>
